APP_ENV=development
APP_HOST=localhost
APP_PORT=8080

# Postgres
# Gunakan localhost untuk run lokal, gunakan parking-db jika di dalam docker
POSTGRES_URI=postgres://user:pass@localhost:5432/dbname?sslmode=disable
POSTGRES_DATABASE=parking_db
POSTGRES_CONNECT_TIMEOUT=5
POSTGRES_MAX_IDLE_TIME=2
POSTGRES_MAX_CONN_LIFETIME=30
POSTGRES_MAX_POOL_SIZE=20
POSTGRES_MIN_POOL_SIZE=2

# Hashing
HASH_SALT=masukkan_salt_bebas_di_sini
HASH_MIN_LENGTH=8